---
import Page from '@modules/Page.astro';
---

<Page
  title="Voeg je bij je huis!"
  showSocials
>
  <p>
    Heb je de Roommates app nog niet geïnstalleerd? Download deze via één van onderstaande links en
    vernieuw deze pagina om deel te nemen aan je huis.
  </p>
  <i>Als er niets gebeurd, probeer dan de app te updaten (open deze link op iOS via Safari).</i>
</Page>
