---
import Page from '@modules/Page.astro';
import Heading from '@components/Heading.astro';
---

<Page
  title="Account verwijderen"
  className="px-8 text-white flex-col"
>
  <Heading className="mb-6">Account verwijderen</Heading>
  <p>
    Stuur een e-mail naar info [at] roommatesapp.nl om je account te verwijderen.<br />Wij nemen je
    verzoek zo snel mogelijk in behandeling.
  </p>
</Page>
