---
import Page from '@modules/Page.astro';
import Heading from '@components/Heading.astro';
---

<Page
  title="Privacybeleid van Roommates"
  className="px-8 text-white flex-col"
>
  <Heading className="mb-6">Privacybeleid van Roommates</Heading>
  <p>Deze Applicatie host deze pagina en verzamelt bepaalde Persoonsgegevens van de Gebruikers.</p>
  <p>
    Dit document kan ter referentie worden afgedrukt met behulp van de afdrukopdracht in de
    instellingen van elke browser.
  </p>

  <Heading
    renderAs="h2"
    className="mt-8 mb-2 font-bold"
  >
    Samenvatting van het beleid
  </Heading>
  <Heading
    renderAs="h3"
    className="mb-2 font-bold"
  >
    Persoonsgegevens worden voor de volgende doelen verzameld met gebruik van de volgende diensten:
  </Heading>
  <p>Registratie en verificatie</p>
  <ul class="list-disc pl-4 mb-4">
    <li class="mb-2">
      <strong>Firebase Authentication</strong><br />
      Persoonsgegevens: achternaam; e-mailadres; profielfoto; voornaam
    </li>
    <li class="mb-2">
      <strong>Google OAuth Persoonsgegevens</strong><br />
      verschillende Gegevenstypes die in het privacybeleid van de service zijn omschreven
    </li>
  </ul>

  <p>Toegang tot accounts van externe services</p>
  <ul>
    <li class="mb-2">
      <strong>Toegang tot de Facebook-account</strong><br />
      Machtigingen: email
    </li>
  </ul>

  <Heading
    renderAs="h2"
    className="mt-8 mb-2 font-bold"
  >
    Volledige tekst van het beleid
  </Heading>
  <Heading
    renderAs="h3"
    className="mb-2 font-bold"
  >
    Eigenaar en Verwerkingsverantwoordelijke Soorten verzamelde Gegevens
  </Heading>
  <p>
    Onder het soort gegevens dat deze Applicatie zelf of door middel van derden verzamelt, vallen:
    voornaam; achternaam; e-mailadres; profielfoto.
  </p>
  <p>
    De volledige informatie over elk soort verzamelde Persoonsgegevens staat in de daaraan gewijde
    artikelen van dit privacybeleid of in specifieke tekst en uitleg die voorafgaand aan de
    Gegevensverzameling wordt weergegeven. Persoonsgegevens kunnen door de Gebruiker zelf worden
    aangeleverd of, in het geval van Gebruiksgegevens, automatisch worden verzameld bij het gebruik
    van deze Applicatie.
  </p>
  <p>
    Tenzij anders aangegeven, is het verstrekken van alle door deze Applicatie gevraagde Gegevens
    verplicht en als u deze Gegevens niet verstrekt, kan deze Applicatie haar Diensten mogelijk niet
    verlenen. In gevallen waarin deze Applicatie specifiek aangeeft dat bepaalde Gegevens niet
    verplicht zijn, kunnen Gebruikers kiezen of ze deze Gegevens al dan niet verstrekken, zonder
    gevolgen voor de beschikbaarheid of de werking van de Dienst.
  </p>
  <p>
    Als Gebruikers niet zeker weten welke Persoonsgegevens verplicht verstrekt moeten worden, kunnen
    zij contact opnemen met de Eigenaar. Het gebruik van Cookies – of andere tracking tools – door
    deze Applicatie of door de eigenaren van de diensten van derden die worden gebruikt door deze
    Applicatie dient om de door de Gebruiker gevraagde Dienst te verlenen, naast de andere doelen
    die in dit document en in het Cookiebeleid worden aangegeven, indien daarvan sprake is.
  </p>
  <p>
    De Gebruikers zijn verantwoordelijk voor Persoonsgegevens van derden die worden verkregen,
    gepubliceerd of gedeeld door deze Applicatie en zij bevestigen dat zij toestemming van de derde
    partij hebben om de Gegevens aan de Eigenaar te verstrekken.
  </p>

  <Heading
    renderAs="h3"
    className="mt-8 mb-2 font-bold"
  >
    Wijze en plaats van de gegevensverwerking
  </Heading>
  <strong>Verwerkingsmethode</strong>
  <p>
    De Eigenaar neemt passende beveiligingsmaatregelen om onbevoegde toegang tot, bekendmaking,
    wijziging of vernietiging van de Gegevens zonder toestemming te voorkomen.
  </p>
  <p>
    De verwerking van de Gegevens vindt plaats met gebruik van computers en/of IT- tools, waarbij
    organisatieprocedures en werkwijzen worden gevolgd die nauw aansluiten op de aangegeven doelen.
    Naast de Eigenaar kunnen de Gegevens in bepaalde gevallen ook toegankelijk zijn voor bepaalde
    met de verwerking belaste personen die zijn betrokken bij de exploitatie van deze Applicatie
    (beheer, verkoop, marketing, juridisch, systeembeheer) of door de Eigenaar als
    Gegevensverwerkers aangestelde externe partijen (zoals externe technische serviceproviders,
    mailprogramma's, hostingproviders, IT-bedrijven, communicatiebureaus). De bijgewerkte lijst van
    deze partijen kan te allen tijde bij de Eigenaar worden aangevraagd.
  </p>

  <strong>Rechtsgrond voor verwerking</strong>
  <p>
    De Eigenaar mag Persoonsgegevens met betrekking tot Gebruikers verwerken in een van de volgende
    gevallen, indien:
  </p>
  <ul class="list-disc pl-4 mb-4">
    <li class="mb-2">
      Gebruikers hun toestemming voor een of meerdere specifieke doelen hebben gegeven; Opmerking:
      In bepaalde rechtsgebieden mag de Eigenaar mogelijk Persoonsgegevens verwerken totdat de
      Gebruiker hiertegen bezwaar maakt ("opt-out"), zonder dat daarvoor toestemming nodig is of
      zich een van de volgende rechtsgronden voordoet. Dit geldt echter niet wanneer Europees
      gegevensbeschermingsrecht van toepassing is op de verwerking van Persoonsgegevens;
    </li>
    <li class="mb-2">
      het verstrekken van Gegevens noodzakelijk is voor de uitvoering van een overeenkomst met de
      Gebruiker en/of voor eventuele precontractuele verplichtingen daarvan;
    </li>
    <li class="mb-2">
      de verwerking noodzakelijk is om te voldoen aan een wettelijke verplichting die op de Eigenaar
      rust;
    </li>
    <li class="mb-2">
      de verwerking gerelateerd is aan een taak van algemeen belang of van een taak in het kader van
      de uitoefening van het openbaar gezag dat aan de Eigenaar is opgedragen;
    </li>
    <li class="mb-2">
      de verwerking noodzakelijk is voor de behartiging van de gerechtvaardigde belangen van de
      Eigenaar of van derden. In ieder geval is de Eigenaar graag bereid om de specifieke
      rechtsgrond te verduidelijken die van toepassing is op de verwerking, en in het bijzonder of
      het verstrekken van Persoonsgegevens een wettelijke of contractuele verplichting is, of een
      noodzakelijk vereiste om een overeenkomst te sluiten.
    </li>
  </ul>

  <strong>Locatie</strong>
  <p>
    De Gegevens worden verwerkt in de vestigingskantoren van de Eigenaar en andere plaatsen waar de
    partijen die bij de verwerking zijn betrokken zich bevinden.
  </p>
  <p>
    Afhankelijk van de locatie van Gebruikers, kan de doorgifte van persoonsgegevens inhouden dat de
    Gegevens van de Gebruikers worden doorgegeven naar een ander land dan het eigen land. Voor meer
    informatie over de verwerkingslocatie van dergelijke doorgegeven Gegevens, kunnen Gebruikers het
    artikel met details over de verwerking van Persoonsgegevens raadplegen.
  </p>
  <p>
    Gebruikers hebben ook recht op informatie over de rechtsgrond van de doorgifte van Gegevens naar
    een land buiten de Europese Unie of naar een internationale organisatie naar internationaal
    publiek recht of opgericht door twee of meer landen, zoals de VN, en over de
    beveiligingsmaatregelen die door de Eigenaar zijn genomen om hun Gegevens te beschermen.
  </p>
  <p>
    Als een dergelijke doorgifte plaatsvindt, kunnen Gebruikers meer te weten komen door de
    relevante artikelen in dit document te raadplegen of door navraag te doen bij de Eigenaar met
    behulp van de informatie in het onderdeel contact.
  </p>
</Page>
