<article class="home__content">
  <p><strong>Dé app voor jou en je huisgenoten. Alles voor jullie huis in één app.</strong></p>
  <p><strong>Download nu de gratis Roommates app en jullie kunnen gelijk:</strong></p>

  <ul>
    <li>Een boodschappenlijst delen</li>
    <li>Maak schoonmaakroosters</li>
    <li>Evenementen maken en je aanwezigheid delen</li>
    <li>Notificaties bij updates van jullie huis</li>
  </ul>

  <div class="socials"></div>
</article>

<style>
  .home__content {
    flex-basis: 100%;
    padding: 0 16px;
    font-size: 18px;
    line-height: 24px;
    color: rgb(var(--white));

    @media only screen and (min-width: 768px) {
      flex-basis: 65%;
      padding-right: 50px;
      font-size: 22px;
      line-height: 28px;
    }
  }

  .socials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
</style>
