---
import { Image } from 'astro:assets';

import { Button } from '@components/Button.tsx';
import Container from '@components/Container.astro';
import EventsImage from '@public/images/events.jpg';
---

<Container>
  <article class="content">
    <strong>
      Dé app voor jou en je huisgenoten. Alles voor jullie huis in één app.<br />
      <br /> Download nu de gratis Roommates app en jullie kunnen gelijk:
    </strong>

    <ul class="usp">
      <li>Een boodschappenlijst delen</li>
      <li>Maak schoonmaakroosters</li>
      <li>Evenementen maken en je aanwezigheid delen</li>
      <li>Notificaties bij updates van jullie huis</li>
    </ul>

    <div class="socials">
      <Button
        href="https://apps.apple.com/app/id1523528110"
        type="Apple"
        title="App Store"
      />
      <Button
        href="https://play.google.com/store/apps/details?id=com.roommates"
        type="Google"
        title="Play Store"
      />
    </div>
  </article>

  <figure class="images">
    <Image
      src={EventsImage}
      alt="Maak evenementen aan en deel je aanwezigheid"
    />
  </figure>
</Container>

<style>
  .content {
    flex-basis: 100%;
    padding: 40px 16px 0;
    font-size: 18px;
    line-height: 24px;
    color: rgb(var(--white));
  }

  .content strong {
    font-weight: 800;
  }

  @media only screen and (min-width: 768px) {
    .content {
      flex-basis: 55%;
      padding-right: 50px;
      font-size: 22px;
      line-height: 28px;
    }
  }

  .usp {
    margin-top: 32px;
    padding-left: 16px;
    list-style: disc;
  }

  .usp li {
    margin-bottom: 16px;
  }

  .socials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .images {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 650px;
    max-width: 400px;
    margin: 40px auto 0;
    padding: 0 40px;
  }
</style>
