---
export const prerender = true;

import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Socials from '@components/Socials.astro';
---

<Layout title="Neem deel aan het event!">
  <Container>
    <p>
      Heb je de Roommates app nog niet geïnstalleerd? Download deze via één van onderstaande links
      en vernieuw deze pagina om het evenement te openen.
    </p>
    <i>Als er niets gebeurd, probeer dan de app te updaten (open deze link op iOS via Safari).</i>
    <Socials />
  </Container>
</Layout>

<style>
  p,
  i {
    font-size: 16px;
    color: white;
  }
</style>
