---
import Page from '@modules/Page.astro';
---

<Page
  title="Join the event!"
  showSocials
>
  <p>
    Haven't installed the Roommates app yet? Download it via one of the links below and refresh this
    page to open the event.
  </p>
  <i>If nothing happens, try updating the app (open this link on iOS via Safari).</i>
</Page>
