---
import Page from '@modules/Page.astro';
import Heading from '@components/Heading.astro';
---

<Page
  title="Delete account"
  className="px-8 text-white flex-col"
>
  <Heading className="mb-6">Delete account</Heading>
  <p>
    Send an email to info [at] roommatesapp.nl to delete your account.<br />We will process your
    request as soon as possible.
  </p>
</Page>
