---
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import Heading from '@components/Heading.astro';
---

<Layout title="Roommates Privacy Policy">
  <Container className="px-8 text-white flex-col">
    <Heading className="mb-6">Roommates Privacy Policy</Heading>
    <p>This Application hosts this page and collects certain Personal Data from Users.</p>
    <p>
      This document can be printed for reference by using the print command in the settings of any
      browser.
    </p>

    <Heading
      renderAs="h2"
      className="mt-8 mb-2 font-bold"
    >
      Policy Summary
    </Heading>
    <Heading
      renderAs="h3"
      className="mb-2 font-bold"
    >
      Personal Data is collected for the following purposes using the following services:
    </Heading>
    <p>Registration and authentication</p>
    <ul class="list-disc pl-4 mb-4">
      <li class="mb-2">
        <strong>Firebase Authentication</strong><br />
        Personal Data: last name; email address; profile picture; first name
      </li>
      <li class="mb-2">
        <strong>Google OAuth Personal Data</strong><br />
        various Data types as specified in the service's privacy policy
      </li>
    </ul>

    <p>Access to third-party service accounts</p>
    <ul>
      <li class="mb-2">
        <strong>Access to the Facebook account</strong><br />
        Permissions: email
      </li>
    </ul>

    <Heading
      renderAs="h2"
      className="mt-8 mb-2 font-bold"
    >
      Full Policy Text
    </Heading>
    <Heading
      renderAs="h3"
      className="mb-2 font-bold"
    >
      Data Controller and Owner Types of Data collected
    </Heading>
    <p>
      Among the types of Data that this Application collects, by itself or through third parties,
      are: first name; last name; email address; profile picture.
    </p>
    <p>
      Complete details on each type of Personal Data collected are provided in the dedicated
      articles of this privacy policy or by specific explanation texts displayed prior to the Data
      collection. Personal Data may be freely provided by the User, or, in case of Usage Data,
      collected automatically when using this Application.
    </p>
    <p>
      Unless specified otherwise, all Data requested by this Application is mandatory and failure to
      provide this Data may make it impossible for this Application to provide its services. In
      cases where this Application specifically states that some Data is not mandatory, Users are
      free not to communicate this Data without consequences to the availability or the functioning
      of the Service.
    </p>
    <p>
      Users who are uncertain about which Personal Data is mandatory are welcome to contact the
      Owner. The use of Cookies – or other tracking tools – by this Application or by the owners of
      third-party services used by this Application serves to provide the Service requested by the
      User, in addition to any other purposes described in this document and in the Cookie Policy,
      if available.
    </p>
    <p>
      Users are responsible for any third-party Personal Data obtained, published or shared through
      this Application and confirm that they have the third party's consent to provide the Data to
      the Owner.
    </p>

    <Heading
      renderAs="h3"
      className="mt-8 mb-2 font-bold"
    >
      Mode and place of processing the Data
    </Heading>
    <strong>Processing methods</strong>
    <p>
      The Owner takes appropriate security measures to prevent unauthorized access, disclosure,
      modification, or unauthorized destruction of the Data.
    </p>
    <p>
      The Data processing is carried out using computers and/or IT-enabled tools, following
      organizational procedures and modes strictly related to the purposes indicated. In addition to
      the Owner, in some cases, the Data may be accessible to certain types of persons in charge,
      involved with the operation of this Application (administration, sales, marketing, legal,
      system administration) or external parties (such as third-party technical service providers,
      mail carriers, hosting providers, IT companies, communications agencies) appointed, if
      necessary, as Data Processors by the Owner. The updated list of these parties may be requested
      from the Owner at any time.
    </p>

    <strong>Legal basis of processing</strong>
    <p>The Owner may process Personal Data relating to Users if one of the following applies:</p>
    <ul class="list-disc pl-4 mb-4">
      <li class="mb-2">
        Users have given their consent for one or more specific purposes; Note: Under some
        legislations, the Owner may be allowed to process Personal Data until the User objects to
        such processing (“opt-out”), without having to rely on consent or any other of the following
        legal bases. However, this does not apply if the processing of Personal Data is subject to
        European data protection law;
      </li>
      <li class="mb-2">
        provision of Data is necessary for the performance of an agreement with the User and/or for
        any pre-contractual obligations thereof;
      </li>
      <li class="mb-2">
        processing is necessary for compliance with a legal obligation to which the Owner is
        subject;
      </li>
      <li class="mb-2">
        processing is related to a task that is carried out in the public interest or in the
        exercise of official authority vested in the Owner;
      </li>
      <li class="mb-2">
        processing is necessary for the purposes of the legitimate interests pursued by the Owner or
        by a third party. In any case, the Owner will gladly help to clarify the specific legal
        basis that applies to the processing, and in particular whether the provision of Personal
        Data is a statutory or contractual requirement, or a requirement necessary to enter into a
        contract.
      </li>
    </ul>

    <strong>Location</strong>
    <p>
      The Data is processed at the Owner's operating offices and in any other places where the
      parties involved in the processing are located.
    </p>
    <p>
      Depending on the User's location, data transfers may involve transferring the User's Data to a
      country other than their own. To find out more about the place of processing of such
      transferred Data, Users can check the section containing details about the processing of
      Personal Data.
    </p>
    <p>
      Users are also entitled to learn about the legal basis of Data transfers to a country outside
      the European Union or to any international organization governed by public international law
      or set up by two or more countries, such as the UN, and about the security measures taken by
      the Owner to safeguard their Data.
    </p>
    <p>
      If any such transfer takes place, Users can find out more by checking the relevant sections of
      this document or inquire with the Owner using the information provided in the contact section.
    </p>
  </Container>
</Layout>
