---
import Layout from '@layouts/Layout.astro';
import Home from '@modules/Home.astro';
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <Home />
  </main>
</Layout>

<style>
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: 768px) {
      max-width: 900px;
      margin: 0 auto;
    }
  }
</style>
