---
import { Button } from '@components/Button.tsx';
---

<div class="socials">
  <Button
    href="https://apps.apple.com/app/id1523528110"
    type="Apple"
    title="App Store"
  />
  <Button
    href="https://play.google.com/store/apps/details?id=com.roommates"
    type="Google"
    title="Play Store"
  />
</div>

<style>
  .socials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
</style>
