---
import { getLangFromUrl, useTranslations } from '@locale/utils';
import { languages } from '@locale/general';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="footer">
  <p>
    {t('footer.text')}
    <a
      href="mailto:info@roommatesapp.nl"
      target="_blank"
      rel="noreferrer"
    >
      info@roommatesapp.nl
    </a>
  </p>

  <div class="languages">
    {Object.entries(languages).map(([lang, label]) => <a href={`/${lang}/`}>{label}</a>)}
  </div>
</footer>

<style>
  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    padding: 24px;
    text-align: center;
    color: rgb(var(--white));
    border-top: 1px solid rgb(var(--orangeLight));
  }

  .footer a {
    color: rgb(var(--white));
    text-decoration: underline;
    margin-left: 4px;
  }

  @media only screen and (min-width: 768px) {
    .footer {
      margin-top: 60px;
      width: 750px;
    }

    .footer a:hover {
      color: rgb(var(--black));
    }
  }

  .languages {
    width: 100%;
    margin-top: 16px;
  }

  .languages a {
    padding: 8px;
  }
</style>
