<a
  href="/"
  class="header__link"
>
  <header class="header__container">
    <svg
      viewBox="0 0 95 107"
      class="header__svg"
    >
      <path
        fill="#FFFFFF"
        d="M0,94.8044337 C0,98.0390577 1.29062087,101.141349 3.58927754,103.428573 C5.88793421,105.715798 9.0057311,107 12.2565225,107 L82.6128068,107 C85.8635982,107 88.9813951,105.715798 91.2800518,103.428573 C93.5787085,101.141349 94.8698498,98.0390577 94.8693292,94.8044337 L94.8693292,56.3393916 L94.9988409,47.2151712 C95.0434303,44.051223 93.7998555,41.0038773 91.5510808,38.7665297 L56.1767087,3.57199247 C51.3896056,-1.19066416 43.6288585,-1.19066416 38.8417554,3.57199247 L3.3751552,38.8563466 C1.20814705,41.0387867 0.00234455248,43.9891284 0.0235477507,47.0570155 L0.0235477507,70.682752 L0,94.8044337 Z"
      ></path>
      <path
        fill="#EFA561"
        d="M81,71.7997597 C60.7261057,86.7334134 33.2738943,86.7334134 13,71.7997597 C15.0999092,68.8651882 17.2017687,65.9319349 19.3055787,63 C35.8198261,75.1653513 58.1821242,75.1653513 74.6963717,63 C76.7975811,65.9332532 78.8987906,68.8665065 81,71.7997597 Z"
      ></path>
    </svg>
    <h1 class="header__title">Roommates</h1>
  </header>
</a>

<style>
  .header__link {
    width: 100%;
    text-decoration: none;
    outline: none;
  }

  .header__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 0 60px;
    color: rgb(var(--white));
    background-color: rgb(var(--orange));
  }

  .header__svg {
    width: 85px;
    height: 95px;
  }

  .header__title {
    margin: 0;
    font-weight: 600;
    line-height: 133%;
    color: rgb(var(--white));
    flex-basis: 100%;
    text-align: center;
    font-size: 50px;
    margin: 16px 0 0;

    @media only screen and (min-width: 768px) {
      flex-basis: auto;
      font-size: 50px;
      margin: 0 0 0 40px;
    }
  }
</style>
