---
import '@fontsource/rubik';
import '@fontsource/rubik/600.css';
import Header from '@layouts/Header.astro';
import Footer from '@layouts/Footer.astro';
import { getLangFromUrl } from '@locale/utils';

type Props = {
  title: string;
};

const { title } = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="description"
      content="Een app voor jou en je huisgenoten"
    />
    <meta
      name="image"
      content="/images/roommates-logo.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="/images/roommates-logo.png"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --white: 255, 255, 255;
    --black: 34, 34, 34;
    --orange: 236, 150, 71;
    --orangeLight: 251, 168, 92;

    --font-rubik: 'Rubik', sans-serif;
  }

  html {
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-rubik);
    overflow-x: hidden;
    background-color: rgb(var(--orange));
  }
</style>
